---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign pubs_in_category = site.publications | where: "category", category[0] | sort: "date" %}
    {% assign counter = pubs_in_category.size %}
    {% assign title_shown = false %}

    {% for post in pubs_in_category reversed %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}

      <div class="pub-entry">
        <span class="pub-number">[{{ counter }}]</span>
        <div class="pub-content">
          {% include archive-single.html %}
        </div>
      </div>

      {% assign counter = counter | minus: 1 %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% assign counter = site.publications.size %}
  {% for post in site.publications reversed %}
    <div class="pub-entry">
      <span class="pub-number">[{{ counter }}]</span>
      <div class="pub-content">
        {% include archive-single.html %}
      </div>
    </div>
    {% assign counter = counter | minus: 1 %}
  {% endfor %}
{% endif %}
