{% assign number = include.number %}

<div class="pub-entry">
  <div class="pub-number">
    [{{ number }}]
  </div>
  <div class="pub-content-wrapper">
    <h2 class="archive__item-title" itemprop="headline">
      {{ post.title }}
    </h2>

    {% if post.collection == 'publications' %}
      <p>
        {% if post.authors %}{{ post.authors }} ({{ post.date | date: "%Y" }}) {% endif %}
        {% if post.category == 'policy_report' or post.category == 'policy_note' %}
          <span class="policy-venue">{{ post.venue }}</span>
        {% else %}
          <i>{{ post.venue }}</i>
        {% endif %}
      </p>
    {% elsif post.collection == 'teaching' %}
      <p>{{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | date: "%Y" }}</p>
    {% elsif post.date %}
      <p class="page__date">{{ post.date | date: "%B %d, %Y" }}</p>
    {% endif %}

    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">
        {{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
      </p>
    {% endif %}

    {% if post.citation %}
      <p>Recommended citation: {{ post.citation }}</p>
    {% endif %}

    {% if post.paperurl or post.slidesurl or post.bibtexurl %}
      <p>
        {% if post.paperurl %}<a href="{{ post.paperurl }}">Download Paper</a>{% endif %}
        {% if post.slidesurl %}{% if post.paperurl %} | {% endif %}<a href="{{ post.slidesurl }}">Download Slides</a>{% endif %}
        {% if post.bibtexurl %}{% if post.paperurl or post.slidesurl %} | {% endif %}<a href="{{ post.bibtexurl }}">Download Bibtex</a>{% endif %}
      </p>
    {% endif %}
  </div>
</div>
