<div class="pub-entry">
  <div class="pub-content-wrapper">
    <h3 class="archive__item-title">{{ post.title }}</h3>

    {% if post.collection == 'publications' %}
      <p>
        {% if post.authors %}{{ post.authors }} ({{ post.date | date: "%Y" }}) {% endif %}
        
        {% if post.category == 'policyreports' or post.category == 'policynotes' %}
          {{ post.venue }}
        {% else %}
          <i>{{ post.venue }}</i>
        {% endif %}
      </p>
    {% elsif post.collection == 'teaching' %}
      <p>{{ post.type }}, {{ post.venue }}, {{ post.date | date: "%Y" }}</p>
    {% elsif post.date %}
      <p class="page__date">{{ post.date | date: "%B %d, %Y" }}</p>
    {% endif %}

    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">
        {{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
      </p>
    {% endif %}

    {% if post.citation %}
      <p>Recommended citation: {{ post.citation }}</p>
    {% endif %}

    {% if post.paperurl or post.slidesurl or post.bibtexurl %}
      <p>
        {% if post.paperurl %}<a href="{{ post.paperurl }}">Paper Link</a>{% endif %}
        {% if post.slidesurl %}{% if post.paperurl %} | {% endif %}<a href="{{ post.slidesurl }}">Download Slides</a>{% endif %}
        {% if post.bibtexurl %}{% if post.paperurl or post.slidesurl %} | {% endif %}<a href="{{ post.bibtexurl }}">Download Bibtex</a>{% endif %}
      </p>
    {% endif %}
  </div>
</div>
